$primary: rgb(209, 96, 200);
@import "node_modules/bootstrap/scss/bootstrap";

body{
    font-family: 'Montserrat', sans-serif;
}

header img{
    width: 20px;
    height: auto;
    margin-top: -4px;
}

#menu{
    font-size: 18px;
    font-weight: bold;
    color: #4d4c4c;
    max-height: 64px;
}

#logo{
    max-width: 40vw;
    width: 170px;
    height: auto;
    border-radius: 40%;
    position: relative;
    margin-top: -45px;
    z-index: 5px;
}

#nav{
    margin-left: 80px !important;
}

#carrusel{
    position: absolute !important;
    z-index: 3px !important;
}

.inicio{
    background-color: rgb(230, 209, 225);
}

#stilizar{
    font-size: 44px !important;
    font-family: 'Dancing Script', cursive;
}

#stilizar3{
    font-size: 28px !important;
    font-family: 'Dancing Script', cursive;
}

#label{
    margin-left: 30px !important;
}

a{
    text-decoration: none;
}

#trabajos{
    padding: 20px 0;
}

.mapa{
    background: url(images/mapa.png);
    width: 100%;
    height: 500px;
}

#local{
    background: #f3f3f3;
    padding-top: 100px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    float: right;
    margin-right: 100px;
    padding-top: 150px;
}

.cuadro{
    width: 400px;
    height: auto;
    border-style: solid;
    border-width: 6px;
    border-radius: 15px;
    border-color: #EA4FE8;
    text-align: center;
    margin: 70px auto;
}

.cuadro img{
    width: 350px;
    height: auto;
    padding: 20px 0;
}

.red{
    display: flex;
    justify-content: center;
    align-items: center;
}

.red img{
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.red p{
    padding-top: 14px;
}

footer{
    background-color: #5f0047;
    color: white;
    padding: 7px 0;
}

footer img{
    width: 20px;
    height: auto;
    margin-top: 20px;
    margin-left: 15px;
}

.catalogo{
    min-height: 74vh;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #94358c 50%);
    font-family: 'Raleway', sans-serif;
    padding-top: 25px;

    .titulo {
        font-size: 40px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 40px;
        color: #fff;
    }
    
    .subtitulo {
        margin: 0;
        color: #000;
        display: inline;
        font-size: 50px;
        font-weight: 500;
        text-transform: uppercase;
    }
    
    .sabor { 
        color: #fff;
        margin: 7px 0;
        font-size: 50px;
        font-weight: 600;
        text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
        font-family: 'Dancing Script', cursive;
        margin-top: 0;
    }
    
    .linea-division {
        width: 80%;
        height: 2px;
        background-color: #36221c;
    }
    
    /* ------------------------- */
    /* Estilos de Materialize */
    /* ------------------------- */
    .carousel {
        min-height: 500px;
    }
    
    .carousel .carousel-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 350px;
        height: 500px;
    }
    
    .carousel .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 15px;
    }
    
    .carousel .indicators .indicator-item {
        border-radius: 0;
        transform: rotate(45deg);
        margin: 0 15px;
        background: #36221c;
    }
}

.arma_tu_torta{
    min-height: 74vh;
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #94358c 50%);
    font-family: 'Raleway', sans-serif;
    padding-top: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;

    .titulo {
        font-size: 50px;
        font-family: 'Dancing Script', cursive;
        margin-bottom: 40px;
        color: #fff;
    }
    h3{
        font-size: 40px;
        font-weight: 550;
        font-family: 'Dancing Script', cursive;
    }
    .precio{
        width: 400px;
        height: 100px;
        background-color: rgb(126, 118, 118);
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        border: 3px solid #000; 

        .display{
            font-size: 40px;
            padding: 15px 15px;
            width: 100%;
            text-align: center;
        }
    }

    .eleccion{
        .dropdown_menu {
            display: none;
          }
          
          .menu-bar ul li:hover .dropdown_menu {
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
            background-color: var(--color-black);
          }
          
          .menu-bar ul li:hover .dropdown_menu ul {
            display: block;
            margin: 10px;
          }
          
          .menu-bar ul li:hover .dropdown_menu ul li {
            width: 150px;
            padding: 10px;
          }
          
          .dropdown_menu_1 {
            display: none;
          }
          
          .dropdown_menu ul li:hover .dropdown_menu_1 {
            display: block;
            position: absolute;
            left: 150px;
            top: 0;
            background-color: var(--color-black);
          }
          
          .hero {
            height: calc(100vh - 80px);
            background-image: url(./bg.jpg);
            background-position: center;
          }
    }

}

@media (max-width: 1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    #menu{
        font-size: 18px;
        font-weight: bold;
        color: #4d4c4c;
        max-height: 64px;
    }
}

@media (max-width: 992px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
    #menu{
        max-height: 240px;
    }
}

@media (max-width: 768px) {
    #intro {
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
    .tercer-image{
        display: none;
    }
    #bg-contacto{
        top: -110px;
    }
}

@media (max-width: 576px) {

    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
    .tercer-image{
        display: block;
    }
    .cuadro{
        width: 300px;
    }
    .cuadro img{
        width: 250px;
    }
    .red img{
        width: 20px;
    }
}

@media (max-width: 311px) {
    #header{
        display: none !important; 
    }
    #nav{
        margin-left: 5px !important;
        margin-left: 0px !important;
    }
    .cuadro{
        width: 200px;
    }
    .cuadro img{
        width: 160px;
    }
    .red img{
        width: 20px;
    }
    .red p{
        display: none;
    }
}